<app-navbar></app-navbar>
<div class="container">

<div class="row mt-5">
        <div class="col-md-6">
        <div class="mt-5 mr-5">
         <img   src="../assets/images/octagonIcons.png" class="tn" width="400" height="400"  alt="">
        </div>
    </div>
    <div class="col-md-6 bg-light text-center ">
        <div class="m-5">
                <h1>About Me</h1>
        </div>
<p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, aut iste impedit eaque ea 
    laborum ipsam repellendus at libero sapiente esse quia commodi. Voluptas minima quasi distinctio veritatis 
    expedita cumque placeat sunt excepturi esse tempore nulla molestiae dolorem quam sed,
     consectetur accusamus nihil, iure quo reprehenderit! Nihil iure vel dolorum?</p>
     <br>
     <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, aut iste impedit 
         eaque ea laborum ipsam repellendus at libero sapiente esse quia commodi. Voluptas minima quasi 
         distinctio veritatis expedita cumque placeat sunt excepturi esse tempore nulla molestiae dolorem quam sed,
      consectetur accusamus nihil, iure quo reprehenderit! Nihil iure vel dolorum?</p>
       
    </div>

</div>

<div class="row my-5">
    <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, soluta. Recusandae explicabo exercitationem
             nihil dolor harum similique repellat reiciendis necessitatibus consectetur totam neque, ab velit, autem 
             nostrum ratione itaque ullam voluptatem, at accusamus officia nesciunt atque beatae. Reprehenderit eum nemo ad 
             quidem aliquam quam quod amet ab! Fugiat, temporibus maxime velit voluptatibus fuga eum molestias ab alias soluta 
             veniam odit earum, non placeat deserunt, quis aliquam. Omnis, officiis similique cumque commodi quidem ipsa dicta, 
             eos voluptatem incidunt rerum possimus labore porro non. Libero excepturi voluptatibus explicabo illo laudantium
             laboriosam maiores unde quae dolorem ut a, itaque eius minima, cupiditate dolorum?</p>
    </div>
</div>

<div class="row my-5">
    <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <div class=" card-header list-bg-secondary">
                      <a href="#" class="card-link ">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                    </div>
                  </div>


    </div>
    <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <div class=" card-header list-bg-secondary">
                      <a href="#" class="card-link ">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                    </div>
                  </div>


    </div>
    <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <div class=" card-header list-bg-secondary">
                      <a href="#" class="card-link ">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                    </div>
                  </div>

    </div>
</div>


</div>