
<app-navbar></app-navbar>

<div id="myProjects">
  <div class="container">
    
    <h1 class="text-center text-secondary py-5">My Projects..</h1>
      
</div>
</div>




<app-gallery></app-gallery>




<!-- 
<section id="projectBox" >
    <div id="myProjects">
        <h1 class="text-center text-secondary py-5">My Projects..</h1>
    </div>
    <div  class="container"  >
        <div class="row pt-5 mt-5" >
            <div id ="box1" class="col-lg-4   py-5 text-center">
               <div>
                 <a href="../assets/images/audasites-fullsize.jpg" >
                   <img src="../assets/images/audasites-300-ThumbNail.jpg" alt="">
                  
                  </a>
               </div>
               <a href="#!" class="btn-light d-flex column">
                    <i class="fas fa-eye p-2"> Freelance Website</i>
                  </a>
                  <a href="#!" class="btn-dark d-flex column ">
                    <i class="fab fa-github p-2 " aria-hidden="true" > Github </i>
                  </a>
            </div>
            <div id ="box1" class="col-lg-4   py-5">
                    <div>
                            <img src="../assets/images/DanielaValentino-300ThumbNail.jpg" alt="">
                        </div>
                        <a href="../assets/images/DanielaValentino-fullsize.JPG" class="btn-light d-flex column">
                                <i class="fas fa-eye p-2"> Artist Portfolio</i>
                              </a>
                              <a href="#!" class="btn-dark d-flex column ">
                                <i class="fab fa-github p-2 " aria-hidden="true" > Github </i>
                              </a>
                </div>
                <div id ="box1" class="col-lg-4  py-5">
                        <div>
                                <img src="../assets/images/SugarElutionApp-300ThumbNail.jpg" alt="">
                            </div>
                            <a href="../assets/images/SugarElutionApp-fullsize.jpg" class="btn-light d-flex column">
                                    <i class="fas fa-eye p-2 "> Web App</i>
                                  </a>
                                  <a href="#!" class="btn-dark d-flex column ">
                                    <i class="fab fa-github p-2 " aria-hidden="true" > Github </i>
                                  </a>
                    </div>
        </div>

        <div id ="box1" class="row pb-5 mb-5">
                <div class="col-lg-4 py-5">
                        <div>
                                <img src="../assets/images/ConejoSports-300ThumbNail.jpg" alt="">
                            </div>
                            <a href="../assets/images/ConejoSportsFullsize.jpg"  class="btn-light d-flex column">
                                    <i class="fas fa-eye p-2"> Sport Blog</i>
                                  </a>
                                  <a href="#!" class="btn-dark d-flex column ">
                                    <i class="fab fa-github p-2 " aria-hidden="true" > Github </i>
                                  </a>
                </div>
                <div id ="box1" class="col-lg-4 py-5">
                        <div>
                                <img src="../assets/images/NirvanaBioresources-300ThumbNail.jpg" alt="">
                            </div>
                            <a href="../assets/images/NirvanaBioresourcesFullSize.jpg"  class="btn-light d-flex column">
                                    <i class="fas fa-eye p-2"> E-Commenrce</i>
                                  </a>
                                  <a href="#!" class="btn-dark d-flex column ">
                                    <i class="fab fa-github p-2 " aria-hidden="true" > Github </i>
                                  </a>
                    </div>
                    <div id ="box1" class="col-lg-4   py-5">
                            <div class="box">
                                    <img src="../assets/images/memoryGame-300ThumbNail.jpeg" alt="">
                                </div>
                                <a href="../assets/images/memoryGameFullsize.JPG" class="btn-light d-flex column">
                                        <i class="fas fa-eye p-2"> Game</i>
                                      </a>
                                      <a href="#!" class="btn-dark d-flex column ">
                                        <i class="fab fa-github p-2 " aria-hidden="true" > Github </i>
                                      </a>
                        </div>
            </div>
    </div>

</section> -->

<app-footer></app-footer>
